<template>
  <nav>
    <v-app-bar app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title class="headline text-uppercase">
        <router-link to="/" style="cursor: pointer">
          <v-img width="100" src="../../assets/logo.png"></v-img>
        </router-link>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items></v-toolbar-items>
      <v-btn text>
        <v-icon icon class="mr-2" @click="logOut">mdi-export</v-icon>Logout
      </v-btn>
    </v-app-bar>
    <v-navigation-drawer v-model="drawer" fixed temporary>
      <v-list-item>
        <v-list-item-avatar>
          <v-img src="https://randomuser.me/api/portraits/lego/5.jpg"></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>{{getUser.name}}</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense>
        <v-list-item v-for="item in items" :key="item.title" link :to="item.link">
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/add-forum" link>
          <v-list-item-icon>
            <v-icon>library_add</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Add Forum</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/my-forum" link>
          <v-list-item-icon>
            <v-icon>inbox</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>My Forum</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </nav>
</template>  

<script>
import api from "../../api/api";
export default {
  name: "Layout",
  data() {
    return {
      drawer: false,
      items: [
        { title: "Home", icon: "dashboard", link: "/" },
        { title: "My Account", icon: "mdi-account", link: "/user-profile" },

      ]
    };
  },  
  computed: {
    getUser: function() {
      return !this.$store.getters["auth/getCurrentUser"]
        ? false
        : this.$store.getters["auth/getCurrentUser"];
    }
  },
  methods: {
    logOut: function() {
      api.logOut(
        () => {
          this.$store.dispatch("auth/removeUserData");
          this.$router.push("/login");
        },
        error => {
          this.error = error;
        }
      );
    }
  }
};
</script>
