<template>
  <v-container>
    <v-card class="mx-auto mt-6 pa-6 mb-8">
      <v-list-item three-line>
        <v-list-item-content>
          <div class="overline mb-4">Welcome</div>
          <v-list-item-title class="headline mb-1">{{getUser.name}}</v-list-item-title>
          <v-list-item-subtitle>{{getUser.email}}</v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-avatar tile size="80" color="grey"></v-list-item-avatar>
      </v-list-item>
    </v-card>

    <v-card class="mx-auto pa-10 mb-12" :loading="loading">
      <v-card-title>Edit Post</v-card-title>
      <form @submit.prevent="submiteditPost">
        <v-card-text>
          <v-row class="mt-3">
            <v-col cols="12" md="12">
              <v-text-field
                label="Title"
                placeholder="Announcements"
                outlined
                :error-messages="postTitle"
                @input="$v.editPost.title.$touch()"
                @blur="$v.editPost.title.$touch()"
                required
                v-model="editPost.title"
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="12">
              <v-textarea
                label="Content"
                rows="12"
                row-height="50"
                outlined
                counter
                clearable
                no-resize
                placeholder="Descriptions goes here.."
                clear-icon="cancel"
                :error-messages="postContent"
                @input="$v.editPost.content.$touch()"
                @blur="$v.editPost.content.$touch()"
                required
                v-model="editPost.content"
              ></v-textarea>
            </v-col>
          </v-row>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn type="submit" class="white--text" color="deep-purple accent-4" depressed>Submit</v-btn>
        </v-card-actions>
      </form>
    </v-card>
    <v-snackbar v-model="snackbar" :timeout="timeout">
      {{ msg }}
      <v-btn color="blue" text @click="snackbar = false">Close</v-btn>
    </v-snackbar>
  </v-container>
</template>
<style>
</style>
<script>
import api from "../../api/api";
import { validationMixin } from "vuelidate";
import { required, minLength } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      loading: false,
      form: false,
      editPost: {
        title: "",
        content: ""
      },
      snackbar: false,
      msg: "",
      timeout: 2000,
     
    };
  },
  validations: {
    editPost: {
      title: {
        required,
        minLength: minLength(4)
      },
      content: {
        required,
        minLength: minLength(10)
      }
    }
  },
  computed: {
    getUser: function() {
      return !this.$store.getters['auth/getCurrentUser']
        ? false
        : this.$store.getters['auth/getCurrentUser']
    },
    postTitle: function() {
      const errors = [];
      if (!this.$v.editPost.title.$dirty) return errors;
      !this.$v.editPost.title.minLength &&
        errors.push("Title must have at least 4 Characters.");
      !this.$v.editPost.title.required && errors.push("Title is required");
      return errors;
    },
    postContent: function() {
      const errors = [];
      if (!this.$v.editPost.content.$dirty) return errors;
      !this.$v.editPost.content.minLength &&
        errors.push("Content must have at least 4 Characters.");
      !this.$v.editPost.content.required && errors.push("Content is required");
      return errors;
    }
  },
   mounted() {
      setTimeout(()=>{
    api.retrieveRespectivePostByKey(this.$route.params.id, (post) => {
       if(post){
         console.log(post)
      this.editPost.title = post.title;
        this.editPost.content = post.content;
       }
    },1000)
    });
  },
  methods: {
    submiteditPost: function() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }

      var userdetails = {
          name: this.$store.state.auth.currentUser.name,
          email: this.$store.state.auth.currentUser.email
      }

      api.updatePost(
        this.editPost.title,
        this.editPost.content,
        this.$route.params.id,
        this.$store.state.auth.currentUser.id,
        userdetails
      );

      this.snackbar = true;
      this.msg = "Post has been updated successfully";
     
     
      setTimeout(() => {
        this.$router.push("/user-posts"+this.$route.params.id);
      }, 1000);
    }
  }
};
</script>