<template>
  <v-container>
    <div v-if="getUserPosts" class="forum-detail">
      <div class="forum-title mt-3">
        <div class="headline d-flex justify-content-between align-items-center">
          <span>
            <v-icon medium class="mr-2">forum</v-icon>Posts
          </span>
          <!-- <v-btn right class="ma-2 " tile outlined color="success"><v-icon left>mdi-pencil</v-icon> Add Post</v-btn> -->
        </div>
      </div>
      <v-card class="mt-5" outlined v-for="(value,key,index) in getUserPosts" :key="index">
        <div class="posts-display" >
          <div class="post-content pa-5">
            <div class="subtitle-2">{{value.title}}</div>
            <div class="body-2 text-truncate">{{value.content}}</div>
            <div class="caption created_by grey--text text--lighten-1">
              <span>Posted by:</span>
              {{value.userdetail.name}}
            </div>
          </div>
          <div class="post-info">
            <div class="views-wrapper">
              <router-link :to="'/edit-post/' + key">
                <v-icon small>edit</v-icon>
              </router-link>
            </div>
          </div>
        </div>
      </v-card>
    </div>
    <div v-else class="noposts text-center">No Posts are Listed</div>
  </v-container>
</template>
<style scoped>
.posts-display {
  display: flex;
}
.post-content {
  width: 85%;
}
.post-info {
  width: 15%;
  border-left: solid 1px #f1f1f1;
}
.views-wrapper,
.time {
  border-bottom: solid 1px #f1f1f1;
  color: #9da6aa;
  font-size: 12px;
  text-align: center;
  height: 100%;
  line-height: 29px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 330px) {
  .views-wrapper,
  .time {
    font-size: 11px;
  }
}
</style>
<script>
import api from "../../api/api";
export default {
  mounted() {
    if (this.$store.state.auth.currentUser.id) {
      api.getMyPosts(
        this.$route.params.id,
        this.$store.state.auth.currentUser.id,
        response => {
          this.$store.commit("posts/setUserPosts", response);
          
        }
      );
    } else {
      this.$store.watch(
        state => state.auth.currentUser.id,
        (newValue, oldValue) => {
          api.getMyPosts(
            this.$route.params.id,
            this.$store.state.auth.currentUser.id,
            response => {
              this.$store.commit("posts/setUserPosts", response);
             
            }
          );
        }
      );
    }
  },
  computed: {
    getUserPosts: function() {
      return !this.$store.state.posts.userPosts ? false : this.$store.state.posts.userPosts;
    }
  }
};
</script>