<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="9" lg="10">
        <v-card class="pa-2" flat tile>
          <div class="post-heading d-flex justify-content-between align-items-center pa-3">
            <div class="user-logo-name">
              <v-avatar size="30px">
                <img alt="Avatar" src="https://avatars0.githubusercontent.com/u/9064066?v=4&s=460" />
              </v-avatar>
              <span v-if="displayPost.userdetail" class="pl-4 subtitle-2">{{displayPost.userdetail.name}}</span>
            </div>
            <div class="date-posted">
              <v-icon small>access_time</v-icon>
              <span class="caption"> {{displayPost.created_at | moment("from", "now") }}</span>
            </div>
          </div>
          <div class="post-content-wrapper pl-12 pr-2 ml-3 pb-5">
            <div class="post-title title mb-4">{{displayPost.title}}</div>
            <div class="post-content body">{{displayPost.content}}</div>
            <hr />
            <div class="post-options d-flex justify-content-between">
              <div class="icon-left">
                  <v-btn v-if="this.$store.state.auth.currentUser.id == displayPost.user_id" :to="'/edit-post/'+$route.params.id" text icon color="violet">
                  <v-icon>edit</v-icon>
                </v-btn>
                <v-btn text icon color="pink">
                  <v-icon>mdi-heart</v-icon>
                </v-btn>
              </div>
              <div class="icon-right">
                <v-btn text icon color="grey">
                  <v-icon>reply</v-icon>
                </v-btn>
              </div>
            </div>
          </div>
        </v-card>
      </v-col>
      <v-col cols="12" md="3" lg="2">
        <v-card class="pa-2" outlined tile>Some Content</v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<style>
</style>
<script>
export default {
  mounted(){
    this.$store.dispatch('posts/postDetail',{route:this.$route})
     this.$store.dispatch('posts/updateViews',{route:this.$route})
  },
  computed:{
    displayPost: function(){
          return !this.$store.state.posts.postDetails?false:this.$store.state.posts.postDetails
    }
  },

};
</script>