<template>
  <v-container>
    <v-card class="mx-auto mt-6 pa-6 mb-8">
      <v-list-item three-line>
        <v-list-item-content>
          <div class="overline mb-4">Welcome</div>
          <v-list-item-title class="headline mb-1">{{getUser.name}}</v-list-item-title>
          <v-list-item-subtitle>{{getUser.email}}</v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-avatar tile size="80" color="grey"></v-list-item-avatar>
      </v-list-item>
    </v-card>

    <v-card class="mx-auto pa-10 mb-12" :loading="loading">
      <v-card-title>Edit Forum</v-card-title>
      <form @submit.prevent="editForum">
        <v-card-text>
          <v-row class="mt-3">
            <v-col cols="12" md="12">
              <v-text-field
                label="Title"
                placeholder="Announcements"
                outlined
                :error-messages="forumTitle"
                @input="$v.addforum.title.$touch()"
                @blur="$v.addforum.title.$touch()"
                required
                v-model="addforum.title"
              ></v-text-field>
            </v-col>
            <v-col cols="12" md="12">
              <v-textarea
                label="Content"
                rows="12"
                row-height="50"
                outlined
                counter
                clearable
                no-resize
                placeholder="Descriptions goes here.."
                clear-icon="cancel"
                :error-messages="forumContent"
                @input="$v.addforum.content.$touch()"
                @blur="$v.addforum.content.$touch()"
                required
                v-model="addforum.content"
              ></v-textarea>
            </v-col>
          </v-row>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <div class="flex-grow-1"></div>
          <v-btn type="submit" class="white--text" color="deep-purple accent-4" depressed>Submit</v-btn>
        </v-card-actions>
      </form>
    </v-card>
    <v-snackbar v-model="snackbar" :timeout="timeout">
      {{ msg }}
      <v-btn color="blue" text @click="snackbar = false">Close</v-btn>
    </v-snackbar>
  </v-container>
</template>
<style>
</style>
<script>
import api from "../../../api/api";
import { validationMixin } from "vuelidate";
import { required, minLength } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      loading: false,
      addforum: {
        title: "",
        content: ""
      },
      snackbar: false,
      msg: "",
      timeout: 2000
    };
  },
  created() {
      setTimeout(()=>{
    api.fetchForumByKey(this.$route.params.id, (response, item) => {
       if(response){
      this.addforum.title = response.title;
        this.addforum.content = response.content;
       }
    },1000)
    });
  },
  validations: {
    addforum: {
      title: {
        required,
        minLength: minLength(4)
      },
      content: {
        required,
        minLength: minLength(10)
      }
    }
  },
  computed: {
    getUser: function() {
      return !this.$store.getters['auth/getCurrentUser']
        ? false
        : this.$store.getters['auth/getCurrentUser;']
    },
    forumTitle: function() {
      const errors = [];
      if (!this.$v.addforum.title.$dirty) return errors;
      !this.$v.addforum.title.minLength &&
        errors.push("Title must have at least 4 Characters.");
      !this.$v.addforum.title.required && errors.push("Title is required");
      return errors;
    },
    forumContent: function() {
      const errors = [];
      if (!this.$v.addforum.content.$dirty) return errors;
      !this.$v.addforum.content.minLength &&
        errors.push("Content must have at least 4 Characters.");
      !this.$v.addforum.content.required && errors.push("Content is required");
      return errors;
    }
  },
  methods: {
    editForum: function() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }

      this.snackbar = true;
      api.updateForum(
        this.addforum.title,
        this.addforum.content,
        this.$route.params.id
      );
     this.snackbar = true;
      this.msg = "Forums Updated";
      this.$store.dispatch("forum/getUserForums", this.$store.state.auth.currentUser);
      setTimeout(()=>{
            this.$router.push('/my-forum')
      },1000)
      
    
    }
  }
};
</script>