
<template>
  <v-container>
    <div class="mt-6">
      <h4>My Forums</h4>
    </div>

    <v-card class="mt-4 pa-4" v-for="(value,key,index) in getUserForums" :key="index">
      <div class="row wrap justify-center">
        <div class="title flex md6 px-3">
          <div class="subtitle-1 font-weight-bold">{{value.title}}</div>
          <div class="body-2 text-truncate">{{value.content}}</div>
        </div>
        <div class="mr-5">
          <v-btn class="ma-3" :to="'/user-posts/'+ key" small>View Posts</v-btn>
          <v-btn class="ma-3" :to="'/add-post/'+ key" small>Add Posts</v-btn>
          <v-btn :to="'/edit-forum/' + key" class="ma-3" small>Edit</v-btn>
          <v-btn @click="remove(key)" class="ma-3" small>Delete</v-btn>
        </div>
      </div>
    </v-card>
    <v-snackbar v-model="snackbar">
      {{ msg }}
      <v-btn color="blue" text @click="snackbar = false">Close</v-btn>
    </v-snackbar>
  </v-container>
</template>
 
<script>
import api from "../../../api/api";
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      dialog: false,
      snackbar: false,
      msg: ""
    };
  },
  computed: {
    getUserForums: function() {
      return this.$store.getters['forum/getUserForums'];
    }
  },
  methods: {
    remove(key) {
      api.deleteForum(key);
      this.snackbar = true;
      this.msg = "Forum deleted successfully!";
      setTimeout(() => {
        this.$store.dispatch("forum/getUserForums", this.$store.state.auth.currentUser);
      }, 1000);
    }
  }
};
</script>
