<template>
  <v-container>
    <div v-if="getAllForums" class="forum-listing">
     <h2 class="heading mt-5">Forums</h2>
      <div class="forums__body layout wrap">
        <div
          class="forum-item  flex md4 sm4 lg4 pa-2" 
          v-for="(value,index) in getAllForums"
          :key="index" 
          
        > <v-card flat class="pa-5 height-200">
          <div class="forums__topic forums_body-topic" >
            <router-link :to="'/view-forum/' +value.key" ><div class="subtitle-1 text-truncate mb-4">{{value.title}}</div></router-link>
            <div class="body-2 pr-2 h-100 caption" color="grey lighten-5">{{value.content}}</div>
          </div>
         
          <div class="forums__count caption text-right">Posts: {{value.posts.length}}</div>
          <div class="recent__forums">
          
          </div>
          </v-card>
        </div>
      </div>
    </div>
  </v-container>
</template>
<style scoped>
.height-200{
  min-height: 250px;
}
.h-100{
  min-height: 100px;
  text-overflow: ellipsis
}
</style>
<script>
export default {
  data() {
    return {};
  },
  computed: {
    getAllForums: function() {
      return !this.$store.state.forums ? false : this.$store.state.forums;
    }
  },
  mounted() {
    if(this.$store.state.forums){
           this.$store.dispatch("getForums");
    }
   
  }
};
</script>
