<template>
  <v-container class="login" fill-height>
    <v-layout align-center="align-center" justify-center="justify-center">
       
      <v-flex class="login-form text-xs-center flex xs12 sm8 md4 lg4">
        <v-img width="100" class="mx-auto" src="../assets/logo.png"></v-img>
        <v-card class="mx-auto my-5">
          <v-card-title class="title layout justify-center">Login</v-card-title>
          <v-card-text class="card-body">
            <form class="form-signup" @submit.prevent="onSubmit">
              <v-text-field
                label="Email"
                v-model="email"
                prepend-inner-icon="mdi-email"
                outlined
                :error-messages="emailErrors"
                required
                @input="$v.email.$touch()"
                @blur="$v.email.$touch()"
              ></v-text-field>
              <v-text-field
                v-model="password"
                prepend-inner-icon="mdi-lock"
                outlined
                :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                :type="showPassword ? 'text' : 'password'"
                name="password"
                label="Password"
                hint="At least 6 characters"
                :error-messages="passwordErrors"
                @click:append="showPassword = !showPassword"
                @input="$v.password.$touch()"
                @blur="$v.password.$touch()"
              ></v-text-field>

              <v-btn type="submit" depressed large block color="primary">Login</v-btn>
              <hr class="mt-5" />
              <div class="mb-3 d-flex align-items-center">
                <div class="w-50">Don't have Account ?</div>
                <v-btn class="w-50" left to="/register">Register</v-btn>
              </div>
            </form>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import api from "../api/api";
import { validationMixin } from "vuelidate";
import { required, minLength, email } from "vuelidate/lib/validators";
export default {
  mixins: [validationMixin],
  name: "Login",
  components: {},
  data() {
    return {
      showPassword: false,
      password: ""
    };
  },
  computed: {
    email: {
      get() {
        return this.$store.state.auth.auth.email;
      },
      set(value) {
        this.$store.commit("auth/setAuthEmail", value);
      }
    },

    emailErrors: function() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email && errors.push("Must be valid e-mail");
      !this.$v.email.required && errors.push("E-mail is required");
      return errors;
    },
    passwordErrors: function() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.password.minLength &&
        errors.push("Password must have at least 6 Characters.");
      !this.$v.password.required && errors.push("Password is required");
      return errors;
    }
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required,
      minLength: minLength(6)
    }
  },
  methods: {
    onSubmit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }

      api.signIn(
        this.email,
        this.password,
        user => {
          api.fetchUserByUID(user.user.uid, (key, value) => {
            this.$store.commit("auth/setCurrentUser", {
              key: key,
              name: user.user.displayName,
              email: user.user.email,
              uid: user.user.uid,
              status: 1
            });
          });
          api.fetchForumbyUID(user.user.uid, (response)=> {
            this.$store.commit("forum/setUserForums", response);
          });
         
          this.$router.push({ path: "/" });
        },
        error => {
          alert(error.message);
        }
      );
    }
  }
};
</script>