<template>
  <v-container fill-height>
    <v-layout align-center="align-center" justify-center="justify-center">
      <v-flex class="login-form text-xs-center flex xs12 sm8 md4 lg4">
        <v-img width="100" class="mx-auto" src="../assets/logo.png"></v-img>
        <v-card class="mx-auto my-5">
          <v-card-title class="title layout justify-center">Register</v-card-title>
          <v-card-text class="card-body">
            <form class="form-signup" @submit.prevent="onSubmit">
              <v-text-field
                label="Full Name"
                v-model="fullname"
                prepend-inner-icon="mdi-face"
                outlined
                :error-messages="fullnameErrors"
                required
                @input="$v.fullname.$touch()"
                @blur="$v.fullname.$touch()"
              ></v-text-field>
              <v-text-field
                label="Email"
                v-model="email"
                prepend-inner-icon="mdi-email"
                outlined
                :error-messages="emailErrors"
                required
                @input="$v.email.$touch()"
                @blur="$v.email.$touch()"
              ></v-text-field>
              <v-text-field
                v-model="password"
                prepend-inner-icon="mdi-lock"
                outlined
                :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                :type="showPassword ? 'text' : 'password'"
                name="password"
                label="Password"
                hint="At least 6 characters"
                :error-messages="passwordErrors"
                @click:append="showPassword = !showPassword"
                @input="$v.password.$touch()"
                @blur="$v.password.$touch()"
              ></v-text-field>
              <v-text-field
                v-model="confirmPassword"
                outlined
                prepend-inner-icon="mdi-lock"
                :append-icon="showPassword ? 'visibility' : 'visibility_off'"
                :type="showPassword ? 'text' : 'password'"
                name="confirmPassword"
                label="Repeat Password"
                :error-messages="confirmpasswordErrors"
                @click:append="showPassword = !showPassword"
                @input="$v.confirmPassword.$touch()"
                @blur="$v.confirmPassword.$touch()"
              ></v-text-field>

              <v-btn type="submit" depressed large block color="primary">Get Started</v-btn>
            </form>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<style>
</style>

<script>
import api from "../api/api";
import { validationMixin } from "vuelidate";
import { required, minLength, email, sameAs } from "vuelidate/lib/validators";
export default {
  mixins: [validationMixin],
  name: "Register",
  components: {},
  data() {
    return {
       password: "",
      confirmPassword: "",
      showPassword: false
    };
  },
  computed: {
    email: {
      get() {
        return this.$store.state.auth.auth.email;
      },
      set(value) {
        this.$store.commit("auth/setAuthEmail", value,{root:true});
      }
    },
    fullname: {
      get() {
        return this.$store.state.auth.auth.fullname;
      },
      set(value) {
        this.$store.commit("auth/setAuthName", value,{root:true});
      }
    },

    fullnameErrors: function() {
      const errors = [];
      if (!this.$v.fullname.$dirty) return errors;
      !this.$v.fullname.minLength &&
        errors.push("Name must have at least 4 characters long");
      !this.$v.fullname.required && errors.push("Name is required.");
      return errors;
    },
    emailErrors: function() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email && errors.push("Must be valid e-mail");
      !this.$v.email.required && errors.push("E-mail is required");
      return errors;
    },
    passwordErrors: function() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.password.minLength &&
        errors.push("Password must have at least 6 Characters.");
      !this.$v.password.required && errors.push("Password is required");
      return errors;
    },
    confirmpasswordErrors: function() {
      const errors = [];
      if (!this.$v.confirmPassword.$dirty) return errors;
      !this.$v.confirmPassword.sameAsPassword &&
        errors.push("Password must match");
      !this.$v.confirmPassword.required && errors.push("Password is required");
      return errors;
    }
  },
  validations: {
    fullname: {
      required,
      minLength: minLength(4)
    },
    email: {
      required,
      email
    },
    password: {
      required,
      minLength: minLength(6)
    },
    confirmPassword: { required, sameAsPassword: sameAs("password") }
  },
  methods: {
    onSubmit() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return;
      }

      api.signUp(
        this.email,
        this.password,
        user => {
         
          api.updateUserDisplayname(this.$store.state.auth.auth.fullname);

          setTimeout(() => {
            const key = api.addUser(
              this.$store.state.auth.auth.fullname,
              user.user.email,
              user.user.uid
            );
          
            this.$store.commit("auth/setCurrentUser", {
              id: key,
              name: this.$store.state.auth.auth.fullname,
              email: user.user.email,
              uid: user.user.uid,
              status: 1
            });

            this.$router.push("/");
          }, 1500);
        },
        error => {
          alert(error.message);
        }
      );
    }
  }
};
</script>
