<template>
  <v-container>
    <div>
      <h4 class="heading mt-5">Forums</h4>
      <div class="layout wrap">
        <div class="flex sm4 pa-2" v-for="(value,index) in getAllForums" :key="index">
          <v-card flat class="pa-5 cardHeight position-relative">
            <router-link :to="'/listforum-posts/' +value.key">
            <div class="color-line" :style="{backgroundColor:randomColor(index)}"></div>
              <div>
                <div class="title mb-4 text-truncate">
                  
                  {{value.title}}
                </div>

                <div class="body-2" color="grey lighten-5">{{value.content | truncate(200)}}</div>
                <div class="body-2 text-xl-right postValue">Posts: {{value.posts.length}}</div>
              </div>
            </router-link>
          </v-card>
        </div>
      </div>
    </div>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      colorCache: {}
    };
  },
  computed: {
    getAllForums: function() {
      return this.$store.state.forum.forums;
    }
  },
  mounted() {
    if (this.$store.state.forum.forums) {
      this.$store.dispatch("forum/getForums");
    }
  },
  filters: {
    truncate: function(value, limit) {
      if (value.length > limit) {
        value = value.substring(0, limit) + "...";
      }

      return value;
    }
  },
  methods: {
    randomColor(id) {
      const r = () => Math.floor(256 * Math.random());

      return (
        this.colorCache[id] ||
        (this.colorCache[id] = `rgb(${r()}, ${r()}, ${r()})`)
      );
    }
  }
};
</script>

<style scoped>
.cardHeight {
  height: 250px;
}
.color-line {
  width: 10%;
  height: 7px;
  position: absolute;
  top: 0;
  left: 0;
}
.cardHeight a,
.cardHeight a:hover {
  text-decoration: none;
  cursor: pointer;
  color: initial;
}

.postValue {
  bottom: 0;
  position: absolute;
  text-align: right;
  display: block;
  left: 0;
  right: 0;
  padding: 10px 20px;
  color: #8e9091;
}

.title,
.title:hover {
  color: #394047;
  text-decoration: none;
  cursor: pointer;
}
</style>
