<template>
  <v-container>
    <div v-if="getforumPosts" class="forum-detail">
      <div class="forum-title mt-3">
        <div class="headline d-flex justify-content-between align-items-center">
          <span class="text-truncate">
            <v-icon medium class="mr-2">forum</v-icon>
            {{getforumDetail.title}}
          </span>
          <v-btn
            right
            class="ma-2"
            tile
            outlined
            color="success"
            :to="'/add-post/'+ $route.params.id"
          >
            <v-icon left>mdi-pencil</v-icon>Add Post
          </v-btn>
        </div>
      </div>
      <v-card class="mt-5 remove-txt-decor" outlined v-for="(value,key,index) in getforumPosts" :key="index">
         <router-link :to="'/view-post/'+ key">
        <div class="posts-display">
          <div class="post-content pa-5">
            <div class="subtitle-2">
             {{value.title}}
            </div>
            <div class="body-2 text-truncate">{{value.content}}</div>
            <div class="caption created_by grey--text text--lighten-1">
              <span>Posted by:</span>
              {{value.userdetail.name}}
            </div>
          </div>
          <div class="post-info">
            <div class="views-wrapper">
              <v-icon small>remove_red_eye</v-icon>
              <span>{{value.view_count}}</span>
            </div>
            <div class="time">
              <v-icon small>access_time</v-icon>
              <span>{{ value.created_at | moment("from", "now") }}</span>
            </div>
          </div>
        </div>
        </router-link>
      </v-card>
    </div>
    <div class="text-center mt-8" v-if="!getforumPosts">
      <v-img src="../../assets/EmptyState.png" max-width="440" max-height="440" class="mx-auto"></v-img>
      <div class="caption font-weight-bold mt-4">No posts found...</div>
    </div>
  </v-container>
</template>
<style scoped>
.posts-display {
  display: flex;
}
.post-content {
  width: 85%;
}

.post-content .subtitle-2 a{
 text-decoration: none;
 color:initial;
}

.remove-txt-decor a{
  text-decoration: none;
  color:initial;
}

.post-info {
  width: 15%;
  border-left: solid 1px #f1f1f1;
}
.views-wrapper,
.time {
  border-bottom: solid 1px #f1f1f1;
  color: #9da6aa;
  font-size: 12px;
  text-align: center;
  height: 50%;
  line-height: 29px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
@media only screen and (max-width: 330px) {
  .views-wrapper,
  .time {
    font-size: 11px;
  }
}
</style>
<script>
export default {
  data() {
    return {};
  },
  computed: {
    getforumDetail: function() {
      return this.$store.getters["forum/getForumDetails"];
    },
    getforumPosts: function() {
      return this.$store.getters["posts/getRespectivePosts"];
    }
  },
  mounted() {
    this.$store.dispatch("forum/forumDetails", { route: this.$route });
    this.$store.dispatch("posts/forumPosts", { route: this.$route });
  }
};
</script>