<template>
  <v-app>
    <Header v-if="showHeader"></Header>
    <v-content>
      <transition
       enter-active-class="animated fadeIn" leave-active-class="animated fadeOut" mode="out-in"
      >
        <router-view />
      </transition>
    </v-content>
  </v-app>
</template>
<style>
body .theme--light.v-application {
  background: #f8f9fa !important;
}
a:hover {
  color: initial !important;
  text-decoration: none !important;
}
</style>

<script>
import Header from "./components/core/Layout";
export default {
  name: "App",
  components: { Header },
  data: () => ({
    //
  }),
  computed: {
    showHeader: function() {
      return this.$store.state.auth.currentUser.status;
    }
  },
  mounted() {
    // Fetching User Forums data from Store actions
    if (this.$store.state.auth.currentUser.name) {
      this.$store.dispatch(
        "forum/getUserForums",
        this.$store.state.auth.currentUser
      );
    }
    this.$store.watch(
      state => state.auth.currentUser.name,
      (oldValue, newValue) => {
        if (newValue !== oldValue) {
          this.$store.dispatch(
            "forum/getUserForums",
            this.$store.state.auth.currentUser
          );
        }
      }
    );
  },
  methods: {}
};
</script>
